
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Add</title>
</head>
<body>
    <div> 
        <table>
            <tr>
                <td>
                    专业组名称
                </td>
                <td>
                    <input id="Text1" type="text" />
                </td>
            </tr>
            <tr>
                <td>
                    颜色设置
                </td>
                <td>
                    <input id="Text1" type="text" />
                </td>
            </tr>
            <tr>
                <td>
                    关联科室
                </td>
                <td>
                    <select id="Select1">
                        <option></option>

                    </select>
                </td>
            </tr>
        </table>
    </div>
</body>
</html>
