
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>HeadPage</title>
    <link rel="stylesheet" type="text/css" href="~/css/public.css" />
    <script type="text/javascript" src="~/js/jquery.min.js"></script>
    <script type="text/javascript" src="~/js/public.js"></script>
    <script type="text/javascript" src="~/js/external.js"></script>
</head>
<body>
    <!-- 头部 -->
    <div class="head">
        <div class="headL">
            @*<img class="headLogo" src="~/images/head1.png" />*@
        </div>
        <div class="headR">
            <a href="login.html" target="_parent">【退出】</a>
        </div>
    </div>
    <div class="user">
        <span>admin</span>
    </div>
</body>
</html>
