
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
    <frameset rows="100,*" cols="*" scrolling="No" framespacing="0" frameborder="no" border="0">
        <frame src="/Case/HeadPage" name="headmenu">
            <!-- 引用头部 -->
            <!-- 引用左边和主体部分 -->
            <frameset rows="100*" cols="220,*" scrolling="No" framespacing="0" frameborder="no" border="0">
                <frame src="/Case/LeftMenu" name="leftmenu" id="mainF  rame" title="mainFrame">
                </frame>
                <frame src="/Case/HomePage" name="main" scrolling="yes" noresize="noresize" id="rightFrame" title="rightFrame"></frame>
            </frameset>
        </frame>
    </frameset>
    <noframes></noframes>

</html>
