 
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>LeftMenu</title>
    <link rel="stylesheet" type="text/css" href="~/css/public.css" />
    <script type="text/javascript" src="~/js/jquery.min.js"></script>
    <script type="text/javascript" src="~/js/public.js"></script>
</head>
<body id="bg">
    <!-- 左边节点 -->
    <div class="container">
        <div class="leftsidebar_box">
            <!--首页-->
            <a href="/Case/HomePage" target="main">
                <div class="line">
                    <img class="icon1" src="~/images/coin01.png" />
                    <img class="icon2" src="~/images/coin02.png" />&nbsp;&nbsp;首页
                </div>
            </a>
            <!--用户设置-->
            <dl class="system_log">
                <dt>
                    用户设置
                    <img class="icon3" src="~/images/coin19.png" />
                    <img class="icon4" src="~/images/coin20.png" />
                </dt>
                <dd>
                    <img class="coin11" src="~/images/coin111.png" />
                    <img class="coin22" src="~/images/coin222.png" />
                    <a href="/Department/Index" target="main" class="cks">科室管理</a>
                </dd>
                <dd> 
                    <img class="coin11" src="~/images/coin111.png" />
                    <img class="coin22" src="~/images/coin222.png" />
                    <a href="/Duty/Index" target="main" class="cks">职务管理</a>
                </dd>
                <dd>
                    <img class="coin11" src="~/images/coin111.png" />
                    <img class="coin22" src="~/images/coin222.png" />
                    <a href="/Tier/Index" target="main" class="cks">层级管理</a>
                </dd>
                <dd>
                    <img class="coin11" src="~/images/coin111.png" />
                    <img class="coin22" src="~/images/coin222.png" />
                    <a href="/Users/Show" target="main" class="cks">用户管理</a>
                </dd>
                <dd>
                    <img class="coin11" src="~/images/coin111.png" />
                    <img class="coin22" src="~/images/coin222.png" />
                    <a href="/Default/Test1" target="main" class="cks">权限管理</a>
                </dd>

            </dl>
            <!--系统设置-->
            <dl class="system_log">
                <dt>
                    系统设置
                    <img class="icon3" src="~/images/coin19.png" />
                    <img class="icon4" src="~/images/coin20.png" />
                </dt>
                <dd>
                    <img class="coin11" src="~/images/coin111.png" />
                    <img class="coin22" src="~/images/coin222.png" />
                    <a href="/Specialty/Index" target="main" class="cks">专业组设置</a>
                </dd>
                <dd>
                    <img class="coin11" src="~/images/coin111.png" />
                    <img class="coin22" src="~/images/coin222.png" />
                    <a href="/Classes/Index" target="main" class="cks">班次设置</a>
                </dd>
                <dd>
                    <img class="coin11" src="~/images/coin111.png" />
                    <img class="coin22" src="~/images/coin222.png" />
                    <a href="/Solitaire/Index" target="main" class="cks">接龙设置</a>
                </dd>
                <dd>
                    <img class="coin11" src="~/images/coin111.png" />
                    <img class="coin22" src="~/images/coin222.png" />
                    <a href="/Rule/Show" target="main" class="cks">排班规则设置</a>
                </dd>
                <dd>
                    <img class="coin11" src="~/images/coin111.png" />
                    <img class="coin22" src="~/images/coin222.png" />
                    <a href="/Vacation/Show" target="main" class="cks">假期管理</a>
                </dd>
                <dd>
                    <img class="coin11" src="~/images/coin111.png" />
                    <img class="coin22" src="~/images/coin222.png" />
                    <a href="/Approval/Show" target="main" class="cks">审批流程设置</a>
                </dd>
            </dl>
            <!--排班功能-->
            <dl class="system_log">
                <dt>
                    排班功能
                    <img class="icon3" src="~/images/coin19.png" />
                    <img class="icon4" src="~/images/coin20.png" />
                </dt>
                <dd>
                    <img class="coin11" src="~/images/coin111.png" />
                    <img class="coin22" src="~/images/coin222.png" />
                    <a href="/Arrange/Add" target="main" class="cks">按人员排班</a>
                </dd>
                <dd>
                    <img class="coin11" src="~/images/coin111.png" />
                    <img class="coin22" src="~/images/coin222.png" />
                    <a href="/Arrangeoperation/Show" target="main" class="cks">按手术排班</a>
                </dd>

            </dl>
            <!--消息通知-->
            <dl class="system_log">
                <dt>
                    消息通知
                    <img class="icon3" src="~/images/coin19.png" />
                    <img class="icon4" src="~/images/coin20.png" />
                </dt>
                <dd>
                    <img class="coin11" src="~/images/coin111.png" />
                    <img class="coin22" src="~/images/coin222.png" />
                    <a href="/Default/Test1" target="main" class="cks">排班发布信息</a>
                </dd>
                <dd>
                    <img class="coin11" src="~/images/coin111.png" />
                    <img class="coin22" src="~/images/coin222.png" />
                    <a href="/Default/Test1" target="main" class="cks">审批消息</a>
                </dd>
            </dl>
        </div>
    </div>
</body>
</html>
