
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Add</title>
    <script src="~/Scripts/vue.js"></script>
    <script src="~/Scripts/axios.js"></script>
</head>
<body>
    <div id="app">
        <table>
            <tr><td>固定相连班次设置（一个班次带出令一个班次的设置）</td></tr>
            <tr>
                <th>序号</th>
                <th>时间1</th>
                <th>班次1</th>
                <th>时间2</th>
                <th>时间3</th>
                <th>班次2</th>
                <th>+</th>
            </tr>
        </table>
        <table>
            <tr><td>固定不相连班次设置（判断是否符合排班规则）</td></tr>
            <tr>
                <th>序号</th>
                <th>时间1</th>
                <th>班次1</th>
                <th>时间2</th>
                <th>时间3</th>
                <th>班次2</th>
                <th>+</th>
            </tr>
        </table>
    </div>
</body>
</html>
