
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Add</title>
    <script src="~/Scripts/vue.js"></script>
    <script src="~/Scripts/axios.js"></script>
</head>
<body>
    <div id="app">
        <table>
            <tr>
            <td>固定相连班次设置（一个班次带出令一个班次的设置）</td></tr>
            <tr>
                <td>时间1</td>
                <td>
                    <select id="Select1" v-model="TimeOne">
                        <option value="请选择">--请选择--</option>
                        <option v-for="TimeOne in TimeOneList" v-bind:value="TimeOne">
                            {{TimeOne}}
                        </option>
                    </select>
                </td>
            </tr>
           
            <tr>
                <td>班次1</td>
                <td>
                    <select id="Select1" v-model="ClassesName">
                        <option value="请选择">--请选择--</option>
                        <option v-for="item in ClassesOneList" v-bind:value="item.Id">
                            {{item.ClassesName}}
                        </option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>时间2</td>
                <td>
                    <select id="Select1" v-model="TimeTwo">
                        <option value="请选择">--请选择--</option>
                        <option v-for="TimeTwo in TimeTwoList" v-bind:value="TimeTwo">
                            {{TimeTwo}}
                        </option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>时间3</td>
                <td>
                    <select id="Select1" v-model="TimeThree">
                        <option value="请选择">--请选择--</option>
                        <option v-for="TimeThree in TimeThreeList" v-bind:value="TimeThree">
                            {{TimeThree}}
                        </option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>班次2</td>
                <td>
                    <select id="Select1" v-model="ClassesName1">
                        <option value="请选择">--请选择--</option>
                        <option v-for="item in ClassesTwoList" v-bind:value="item.Id">
                            {{item.ClassesName}}
                        </option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>序号：</td>
                <td>
                    <input id="Text1" type="text" v-model="Number" />
                </td>
            </tr>
            <tr>
                <td>
                    <a href="#" v-on:click="AddRule(TimeOne, ClassesName, TimeTwo, TimeThree, ClassesName1,Number)">保存</a>

                </td>
            </tr>
        </table>
       
    </div>
    <script>
        var vm = new Vue({
            el: "#app",
            data: {
                TimeOneList: ['周一', '周二', '周三', '周四', '周五', '周六', '周日'],
                TimeOne:"请选择",
                ClassesOneList: [],
                ClassesName: "请选择",
                TimeTwoList: ['第二天', '隔日', '下周'],
                TimeTwo: "请选择",
                TimeThreeList: ['周一', '周二', '周三', '周四', '周五', '周六', '周日'],
                TimeThree: "请选择",
                ClassesTwoList: [],
                ClassesName1: "请选择",
                Number:"",
            },
            mounted() {
                this.GetClassesOneList();
                this.GetClassesTwoList();
                
            },
            methods: {
                AddRule: function (TimeOne, ClassesName, TimeTwo, TimeThree, ClassesName1, Number) {
                    
                    axios.post('@Url.Action("Add", "Rule")', { arrangerule: { TimeOne: TimeOne, ClassesId: ClassesName, TimeTwo: TimeTwo, TimeThree: TimeThree, ClassesIds: ClassesName1, Number: Number  } }).then(
                        (response) => {
                            if (response.data > 0) {
                                alert("保存成功")
                            }
                            else {
                                alert("已有该条规则")
                            }
                        },
                        (response) => {
                            alert(response.status);
                        }
                    ).catch(function (response) {
                        alert(response);
                    });
                        
                },
                ///获取班次名称
                GetClassesOneList: function () {
                     axios.get('@Url.Action("GetClasses", "Rule")').then(
                        (response) => {
                            console.log(response)
                            this.ClassesOneList = response.data;                    
                        },
                        (response) => {
                            alert(response.status);
                        }
                    ).catch(function (response) {
                        alert(response);
                    });
                },
                ///获取班次名称
                GetClassesTwoList: function () {
                     axios.get('@Url.Action("GetClasses", "Rule")').then(
                        (response) => {
                            console.log(response)
                            this.ClassesTwoList = response.data;                    
                        },
                        (response) => {
                            alert(response.status);
                        }
                    ).catch(function (response) {
                        alert(response);
                    });
                },

            }
        })
         
    </script>
</body>
</html>
