
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Add</title>
    <script src="~/Scripts/vue.js"></script>
    <script src="~/Scripts/axios.js"></script>
    <style>
        .searchBox {
            width: 200px;
            height: 26px;
            position: relative;
        }

        .select {
            width: 98%;
            height: 100%;
        }

        .down {
            position: absolute;
            width: 0;
            border: 9px solid transparent;
            border-top: 11px solid black;
            top: 10px;
            right: 7px;
            cursor: pointer;
        }

        .list {
            position: absolute;
            background: lightgray;
            width: 100%;
            z-index: 9999;
        }

            .list > li {
                height: 16.8px;
                background: gray;
                border: 1px solid lightgray;
                border-top: none;
            }
    </style>
</head>
<body>
    <div id="app">

        <table>
            <tr>
                <td colspan="7">固定相连班次设置（一个班次带出令一个班次的设置）</td>
            </tr>
            <tr>
                <td>序号：</td>
                <td>时间1</td>
                <td>班次1</td>
                <td>时间2</td>
                <td>时间3</td>
                <td>班次2</td>

            </tr>
            <tr v-for="(items,index) in AddRuleList">
                <td>{{index+1}}</td>
                <td>
                    <div class="searchBox">
                        <input type="text" class="select" v-model="items.TimeOne">
                        <div class="down" v-on:click="show(index)"></div>
                        <div style="clear:both"></div>
                        <div v-show="items.listShow" class="list">
                            <ul v-for="(timeone,index) in TimeOneList">
                                <li>
                                    <input type="checkbox" :value="timeone" v-model="items.TimeOne">
                                    <label>{{timeone}}</label>
                                </li>
                            </ul>

                        </div>

                    </div>
                </td>
                <td>
                    <div style="clear:both"></div>
                    <select id="Select1" v-model="items.ClassesName">
                        <option value="请选择">--请选择--</option>
                        <option v-for="item in ClassesOneList" v-bind:value="item.Id">
                            {{item.ClassesName}}
                        </option>
                    </select>
                </td>
                <td>
                    <select id="Select1" v-model="items.TimeTwo">
                        <option value="请选择">--请选择--</option>
                        <option v-for="TimeTwo in TimeTwoList" v-bind:value="TimeTwo">
                            {{TimeTwo}}
                        </option>
                    </select>
                </td>
                <td>
                    <select id="Select1" v-model="items.TimeThree">
                        <option value="请选择">--请选择--</option>
                        <option v-for="TimeThree in TimeThreeList" v-bind:value="TimeThree">
                            {{TimeThree}}
                        </option>
                    </select>
                </td>
                <td>
                    <select id="Select1" v-model="items.ClassesName1">
                        <option value="请选择">--请选择--</option>
                        <option v-for="item in ClassesTwoList" v-bind:value="item.Id">
                            {{item.ClassesName}}
                        </option>
                    </select>
                </td>

                <td v-on:click="AddRow()">+</td>
            </tr>
            <tr>
                <td>
                    <a href="#" v-on:click="AddRule(AddRuleList)">保存</a>

                </td>
                
            </tr>
        </table>



    </div>

    <script>
        var vm = new Vue({
            el: "#app",
            data: {
                listShow: false,
                search: '',
                data1: {
                    type: Array,
                    default: []
                },
                TimeOneList: ['每天','周一', '周二', '周三', '周四', '周五', '周六', '周日'],
                TimeOne: "请选择",
                ClassesOneList: [],
                ClassesName: "请选择",
                TimeTwoList: ['第二天', '隔日', '下周'],
                TimeTwo: "请选择",
                TimeThreeList: ['周一', '周二', '周三', '周四', '周五', '周六', '周日'],
                TimeThree: "请选择",
                ClassesTwoList: [],
                ClassesName1: "请选择",
                AddRuleList: [{ listShow: false,TimeOne: [], ClassesId: "", TimeTwo: "", TimeThree: "", ClassesIds: ""}],
            },
            created() {
                console.log(this.data1)
            },
            watch: { // 监视双向绑定的数据数组
                TimeOneList: {
                    handler() { // 数据数组有变化将触发此函数
                        var checkObj1 = document.querySelectorAll('.checkItem'); // 获取所有checkbox项
                        if (this.TimeOne.length == checkObj1.length) {
                            document.querySelector('#quan').checked = true;
                        } else {
                            document.querySelector('#quan').checked = false;
                        }
                    },
                    deep: true // 深度监视
                },
                search: {
                    handler() {//搜索框输入变化触发
                        this.listShow = true;
                    },
                    deep: true // 深度监视
                }
            },
            mounted() {
                this.GetClassesOneList();
                this.GetClassesTwoList();

            },
            methods: {
                AddRule: function (dataList) {
                    dataList.map(function (data, index) {
                        var param = new URLSearchParams();
                        param.append("TimeOne", data.TimeOne);
                        param.append("ClassesId", data.ClassesName);
                        param.append("TimeTwo", data.TimeTwo);
                        param.append("TimeThree", data.TimeThree);
                        param.append("ClassesIds", data.ClassesName1);
                        axios.post("http://localhost:50484/Rule/Add", param).then(
                            (response) => {
                                if (response.data > 0) {
                                    alert("保存成功")
                                }
                                else {
                                    alert("已有该条规则")
                                }
                            },
                            (response) => {
                                alert(response.status);
                            }
                        ).catch(function (response) {
                            alert(response);
                        });
                    });

                },
                AddRow: function () {
                    this.AddRuleList.push({ listShow:false,TimeOne: [], ClassesId: "", TimeTwo: "", TimeThree: "", ClassesIds: ""});
                },
                ///获取班次名称
                GetClassesOneList: function () {
                     axios.get('@Url.Action("GetClasses", "Rule")').then(
                        (response) => {
                            console.log(response)
                            this.ClassesOneList = response.data;
                        },
                        (response) => {
                            alert(response.status);
                        }
                    ).catch(function (response) {
                        alert(response);
                    });
                },
                ///获取班次名称
                GetClassesTwoList: function () {
                     axios.get('@Url.Action("GetClasses", "Rule")').then(
                        (response) => {
                            console.log(response)
                            this.ClassesTwoList = response.data;
                        },
                        (response) => {
                            alert(response.status);
                        }
                    ).catch(function (response) {
                        alert(response);
                    });
                },



                checkAll(e) { // 点击全选事件函数
                    var checkObj = document.querySelectorAll('.checkItem'); // 获取所有checkbox项
                    if (e.target.checked) { // 判定全选checkbox的勾选状态
                        for (var i = 0; i < checkObj.length; i++) {
                            if (!checkObj[i].checked) { // 将未勾选的checkbox选项push到绑定数组中
                                this.TimeOneList.push(checkObj[i].value);
                            }
                        }
                    } else { // 如果是去掉全选则清空checkbox选项绑定数组
                        this.TimeOneList = [];
                    }
                },
                show: function (index) {
                    this.AddRuleList[index].listShow = !this.AddRuleList[index].listShow;
                },
            },
        })

    </script>
</body>
</html>
