
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Show</title>
    <script src="~/Scripts/axios.js"></script>
    <script src="~/Scripts/vue.js"></script>
</head>
<body>
    <div id="app">
        <div class="tools">
            <ul class="toolbar">
                <li><a href="#" onclick="location.href='/Rule/Add'"><span><img src="~/images/t01.png" /></span>添加</a></li>
            </ul>
        </div>
        <table border="1" cellspacing="0" cellpadding="0" style="width:500px;">
            <tr>
                <th>编号</th>
               
                <th>排班规则</th>
                <th>是否生效</th>
                <th>操作</th>
            </tr>
            <tr v-for="(contact,key,index) in RuleList">
               
                <td>{{contact.Id}}</td>
               
                <td>
                   
                    {{contact.TimeOne}}
                    {{contact.ClassesName}},
                    {{contact.TimeTwo}}
                    {{contact.TimeThree}}
                    {{contact.ClassesName1}}
                  
                </td>
                <td>
                   
                    {{contact.IsEnabled}}
                </td>
                <td>
                    <div v-if="contact.Id!=''">
                        <a href="#" v-on:click="GetRules(contact.Id)">修改</a>
                        <a href="javascript:void(0)" v-on:click="DeleteRule(contact.Id)">删除</a>
                    </div>
                    <div v-else>
                        <a href="javascript:void(0)" v-on:click="AddRule(contact.TimeOne, contact.ClassesOne, contact.TimeTwo,contact.TimeThree,contact.ClassesTwo)">添加</a>
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <script>
        var vm = new Vue({
            el: "#app",
            data: {
               Id:"",
                RuleList: [],
               
            },
            mounted() {
                
                this.ShowRule();
            },
            methods: {
                ShowRule: function () {
                    axios.get('@Url.Action("Shows", "Rule")').then(
                        (response) => {
                            console.log(response)
                            this.RuleList = response.data;
                        },
                        (response) => {
                            alert(response.status);
                        }
                    ).catch(function (response) {
                        alert(response);
                    });
                },
                GetRules: function (Id) {
                    location.href = "Update?Id=" + Id;
                },
                DeleteRule: function (Id) {
                        axios.post('@Url.Action("Delete", "Rule")', { Id: Id }).then(
                        (response) => {
                            if (response.data > 0) {
                                alert("删除成功")
                                this.ShowRule();
                            }
                        },
                        (response) => {
                            alert(response.status);
                        }
                    ).catch(function (response) {
                        alert(response);
                    });
                },
       
            }
        })
    </script>
</body>
</html>
