
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Add</title>
    <script src="~/Scripts/axios.js"></script>
    <script src="~/Scripts/vue.js"></script>
</head>
<body>
    <div id="app"> 
        <table>
            <tr>
                <td>手术间</td>
                <td>
                    <select id="Select1" v-model="OperationNames">
                        <option value="请选择">--请选择--</option>
                        <option v-for="item in OperationList" v-bind:value="item.Id">
                            {{item.OperationName}}
                        </option>
                    </select>

                </td>
            </tr>          
            <tr>
                <td>病区</td>
                <td>
                    <select id="Select1" v-model="DepartmentName">
                        <option value="请选择">--请选择--</option>
                        <option v-for="item in DepartmentList" v-bind:value="item.Id">
                            {{item.DepartmentName}}
                        </option>
                    </select>

                </td>
            </tr>
            <tr>
                <td>手术名称</td>
                <td>
                    <input id="Text1" type="text" v-model="OperationName"/>
                </td>
            </tr>
            <tr>
                <td>主刀医生</td>
                <td>
                    <input id="Text1" type="text" v-model="OperatorDoctor"/>
                </td>
            </tr>
            <tr>
                <td>器械</td>
                <td>
                    <input id="Text1" type="text" v-model="Instrument"/>
                </td>
            </tr>
            <tr>
                <td>巡回</td>
                <td>
                    <input id="Text1" type="text" v-model="Tour"/>
                </td>
            </tr>
            <tr>
                <td>麻醉</td>
                <td>
                    <input id="Text1" type="text" v-model="Anesthetist"/>
                </td>
            </tr>
            <tr>
                <td>患者姓名</td>
                <td>
                    <input id="Text1" type="text" v-model="PatientName"/>
                </td>
            </tr>
            <tr>
                <td>年龄</td>
                <td>
                    <input id="Text1" type="text" v-model="PatientAge"/>
                </td>
            </tr>
            <tr>
                <td>性别</td>               
                <td>
                    <input id="Text1" type="text" v-model="PatientSex" />
                </td>
            </tr>
        </table>
    </div>
    <script>
        var vm = new Vue({
            el: "#app",
            data: {
                //病区
                DepartmentList: [],
                DepartmentName: "请选择",
                //手术间
                OperationList: [],
                OperationNames: "请选择",
                OperationName:"",
                OperatorDoctor:"",
                Instrument:"",
                Tour:"",
                Anesthetist:"",
                PatientName:"",
                PatientAge:"",
                PatientSex:"",
            },
            mounted() {
                this.getDepartmentList();
                this.getOperationList();
            },
            methods: {
                Add: function (OperationNames, DepartmentName, OperationName, OperatorDoctor, Instrument, Tour, Anesthetist, PatientName, PatientAge, PatientSex) {
                    axios.post('@Url.Action("Add", "Arrangeoperation")', { arrangeoperation: { OperationID: OperationNames, DepartmentID: DepartmentName, OperationName: OperationName, OperatorDoctor: OperatorDoctor, Instrument: Instrument, Tour: Tour, Anesthetist: Anesthetist, PatientName: PatientName, PatientAge: PatientAge, PatientSex: PatientSex } }).then(
                        (response) => {
                            if (response.data > 0) {
                                alert("保存成功")
                            }
                            else {
                                alert("已有该条申请")
                            }
                        },
                        (response) => {
                            alert(response.status);
                        }
                    ).catch(function (response) {
                        alert(response);
                    });                    
                },
                         ///获取科室的下拉菜单
                getDepartmentList: function () {
                    axios.get('@Url.Action("GetDepartments", "Arrangeoperation")').then(
                        (response) => {
                            console.log(response)
                            this.DepartmentList = response.data;                    
                        },
                        (response) => {
                            alert(response.status);
                        }
                    ).catch(function (response) {
                        alert(response);
                    });
                },
                         ///获取手术间的下拉菜单
                getOperationList: function () {
                    axios.get('@Url.Action("ShowOperation", "Arrangeoperation")').then(
                        (response) => {
                            console.log(response)
                            this.OperationList = response.data;                    
                        },
                        (response) => {
                            alert(response.status);
                        }
                    ).catch(function (response) {
                        alert(response);
                    });
                },
            }
        })

    </script>
</body>
</html>
