
@{
    /**/

    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script src="~/Scripts/vue.js"></script>
    <script src="~/Scripts/axios.js"></script>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap.min.js"></script>
    <link href="~/css/x-admin.css" rel="stylesheet" />
    <link href="~/css/pag.css" rel="stylesheet" />

</head>
<body>
   
    <div class="x-body" id="app">
        <form class="layui-form x-center" action="" style="width:500px">       
        </form>
        <div class="tools">
            <ul class="toolbar">
                <li><a href="#" onclick="location.href='/Department/Add'"><span><img src="~/images/t01.png" /></span>添加</a></li>            
            </ul>
        </div>
        <table class="tablelist">
            <thead>
                <tr>
                    <th width="7%">科室编号</th>
                    <th width="8%">科室名称</th>
                    <th width="6%">编辑</th>
                </tr>
            </thead>
            <tbody id="x-img">
                <tr v-for="(department,key,index) in DepartmentList">
                    <td>{{department.Id}}</td>
                    <td><input type="text" v-model="department.DepartmentName" style="border:0"/></td>
                    <td class="td-manage">
                        <div v-if="department.Id!=''">
                            <a href="#" v-on:click="UpdateDepartment(department.Id,department.DepartmentName)">修改</a>
                            <a href="#" v-on:click="DeleteDepartment(department.Id)">删除</a>
                        </div>
                        <div v-else>
                            <a href="#" v-on:click="AddDepartment(department.DepartmentName)">添加</a>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <br />
    <br />
    <br />
    <script src="~/js/x-layui.js"></script>
    <script src="~/lib/layui/layui.js"></script>
    <script src="~/js/jquery2.js"></script>
    <script src="~/js/js.js"></script>
    <script>
        layui.use(['laydate', 'element', 'laypage', 'layer'], function () {
            $ = layui.jquery;
            lement = layui.element();//面包导航
            laypage = layui.laypage;//分页
            layer = layui.layer;//弹出层
        });


        /*添加*/
        function new_add(title, url, w, h) {
            x_admin_show(title, url, w, h);
        }


        // 编辑
        function new_edit(title, url, id, w, h) {
            x_admin_show(title, url, w, h);
        }
        $('.tablelist tbody tr:odd').addClass('odd');

    </script>
</body>
</html>
<script type="text/javascript">
        //表格
        var vm = new Vue({
            //提供一个在页面上已存在的 DOM 元素作为 Vue 实例的挂载目标。可以是 CSS 选择器，也可以是一个 HTMLElement 实例。
            el: "#app",
            data: {
               DepartmentList: [],
            },
            mounted() {
                this.getAllUser();
            },
            methods: {
                getAllUser: function () {
                    axios.get('@Url.Action("GetDepartments", "Department")').then(
                        (response) => {
                            this.DepartmentList = response.data;
                        },
                        (response) => {
                            alert(response.status);
                        }
                    ).catch(function (response) {
                        alert(response);
                    });
                },
                AddDepartment: function (departmentName) {
                    axios.post('@Url.Action("Add", "Department")', { department: { DepartmentName: departmentName} }).then(
                        (response) => {
                            alert("添加成功")
                        },
                        (response) => {
                            alert(response.status);
                        }
                    ).catch(function (response) {
                        alert(response);
                    });
                },
            UpdateDepartment: function (id, departmentName) {
                    axios.post('@Url.Action("Update", "Department")', { department: { Id: id, DepartmentName: departmentName} }).then(
                        (response) => {
                            alert("修改成功")
                            console.log(response);
                            if (response.data > 0) {
                                this.getAllUser();
                            }
                        },
                        (response) => {
                            alert(response.status);
                        }
                    ).catch(function (response) {
                        alert(response);
                    });
                },
            DeleteDepartment: function (id) {
                    axios.post('@Url.Action("Delete", "Department")', { Id: id }).then(
                        (response) => {
                            if (response.data > 0) {
                               this.getAllUser();
                            }
                        },
                        (response) => {
                            alert(response.status);
                        }
                    ).catch(function (response) {
                        alert(response);
                    });
                }
            },
        });
</script>
@*<body>
    <div id="app">
        <table class="table table-bordered">
            <tr>
                <td>编号</td>
                <td>科室名称</td>
                <td>编辑</td>
            </tr>
            <tr v-for="(department,key,index) in DepartmentList">
                <td>{{department.Id}}</td>
                <td><input type="text" v-model="department.DepartmentName" /></td>
                <td>
                    <div v-if="department.Id!=''">
                        <a href="#" v-on:click="UpdateDepartment(department.Id,department.DepartmentName)">修改</a>
                        <a href="#" v-on:click="DeleteDepartment(department.Id)">删除</a>
                    </div>
                    <div v-else>
                        <a href="#" v-on:click="AddDepartment(department.DepartmentName)">添加</a>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</body>*@