
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>层级管理</title>
    <script src="~/Scripts/vue.js"></script>
    <script src="~/Scripts/axios.js"></script>

    <style type="text/css">
        table {
            margin: 10px auto auto 10px;
        }
    </style>
</head>
<body>
    <div id="app">
        <table v-show="tierList.length" class="table-condensed" border="1">
            <thead class="navbar-header">
                <tr>
                    <th>层级名称</th>
               
                    <th>操作</th>
                </tr>
                <tr v-for="(tier,index) in tierList">
                    <td><input type="text" v-model="tier.Name" /></td>
               
                    <td>
                        <div v-if="tier.Id!=''">
                            <a href="#" v-on:click="updatetier(tier.Id,tier.TierName)">修改</a>
                            <a href="#" v-on:click="deletetierById(tier.Id)">删除</a>
                        </div>
                        <div v-else>
                            <a href="#" v-on:click="addtier(tier.TierName)">添加</a>
                        </div>
                    </td>
                </tr>
            </thead>
        </table>
    </div>
    <script type="text/javascript">
        var vm = new Vue({
            el: "#app",
            data: {
                tierList:[]
            },
            mounted() {
                this.getAlltiers();
            },
            methods: {
                getAlltiers: function () {
                    axios.get('@Url.Action("SelectTier", "Tier")'
                    ).then(
                        (response) => {
                            this.tierList = [];
                            for (var i = 0; i < response.data.length; i++) {
                                this.tierList.push(response.data[i]);
                            }
                            this.tierList.push({ Id:"", Name: "", PhoneNo: "", EmailAddress: "" });
                        },
                        (response) => {
                            alert(response.status);
                        }
                    ).catch(function (response) {
                        alert(response);
                    });
                },
                addtier: function (name) {
                    axios.post('@Url.Action("AddTier", "Tier")', { tier: { TierName: name} }).then(
                        (response) => {
                            this.tierList = [];
                            for (var i = 0; i < response.data.length; i++) {
                                this.tierList.push(response.data[i]);
                            }
                            this.tierList.push({ Id: "", Name: "", PhoneNo: "", EmailAddress: "" });
                        },
                        (response) => {
                            alert(response.status);
                        }
                    ).catch(function (response) {
                        alert(response);
                    });
                },
                updatetier: function (id, name) {
                    axios.post('@Url.Action("UpdateTier", "Tier")', { tier: { Id: id, TierName: name} }).then(
                        (response) => {
                            this.tierList = [];
                            for (var i = 0; i < response.data.length; i++) {
                                this.tierList.push(response.data[i]);
                            }
                            this.tierList.push({ Id: "", Name: "", PhoneNo: "", EmailAddress: "" });
                        },
                        (response) => {
                            alert(response.status);
                        }
                    ).catch(function (response) {
                        alert(response);
                    });
                },
                deletetierById: function (id) {
                    axios.post('@Url.Action("DelTier", "Tier")', { id: id }).then(
                        (response) => {
                            this.tierList = [];
                            for (var i = 0; i < response.data.length; i++) {
                                this.tierList.push(response.data[i]);
                            }
                            this.tierList.push({ Id: "", Name: "", PhoneNo: "", EmailAddress: "" });
                        },
                        (response) => {
                            alert(response.status);
                        }
                    ).catch(function (response) {
                        alert(response);
                    });
                }
            }
        });
    </script>
</body>
</html>
