
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>层级管理</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="~/css/x-admin.css" media="all">
    <link rel="stylesheet" href="~/css/pag.css" media="all">
    <script src="~/Scripts/vue.js"></script>
    <script src="~/Scripts/axios.js"></script>

    <style type="text/css">
        table {
            margin: 10px auto auto 10px;
        }
        td {
         
            vertical-align: middle;
            text-align:center
        }
    </style>
</head>
<body>

    <div id="app" class="x-body">
        <div class="x-nav">
            <span class="layui-breadcrumb">
                <a><cite>首页</cite></a>
                <a><cite>层级管理</cite></a>
            </span>
            <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" href="javascript:location.replace(location.href);" title="刷新"><i class="layui-icon" style="line-height:30px">ဂ</i></a>
        </div>
        <br>
        <table  width="980" height="480" background="~/images/bg.png" align="center" style="margin-top:10px">
            <thead class="navbar-header">
                <tr>
                    <th>层级名称</th>

                    <th>操作</th>
                </tr>
                <tr v-for="(tier,index) in tierList">
                    <td><input type="text" v-model="tier.TierName" /></td>

                    <td>
                        <div v-if="tier.Id!=''">
                            <a href="#" v-on:click="updatetier(tier.Id,tier.TierName)">修改</a>
                            <a href="#" v-on:click="deletetierById(tier.Id)">删除</a>
                        </div>
                        <div v-else>
                            <a href="#" v-on:click="addtier(tier.TierName)">添加</a>
                        </div>
                    </td>
                </tr>
            </thead>
        </table>
    </div>


    <script src="~/lib/layui/layui.js" charset="utf-8"></script>
        <script src="~/js/x-layui.js" charset="utf-8"></script>
    <script>
        layui.use(['element', 'laypage', 'layer', 'form'], function () {
            $ = layui.jquery;//jquery
            lement = layui.element();//面包导航
            laypage = layui.laypage;//分页
            layer = layui.layer;//弹出层
            form = layui.form();//弹出层
        });
    </script>
    @*//vue操作*@
    <script type="text/javascript">
        var vm = new Vue({
            el: "#app",
            data: {
                tierList:[]
            },
            mounted() {
                this.getAlltiers();
            },
            methods: {
                getAlltiers: function () {
                    axios.get('@Url.Action("SelectTier", "Tier")'
                    ).then(
                        (response) => {
                            this.tierList = [];
                            for (var i = 0; i < response.data.length; i++) {
                                this.tierList.push(response.data[i]);
                            }
                            this.tierList.push({ Id: "", TierName: "" });
                        },
                        (response) => {
                            alert(response.status);
                        }
                    ).catch(function (response) {
                        alert(response);
                    });
                },
                addtier: function (name) {
                    axios.post('@Url.Action("AddTier", "Tier")', { tier: { TierName: name} }).then(
                        (response) => {
                            this.tierList = [];
                            for (var i = 0; i < response.data.length; i++) {
                                this.tierList.push(response.data[i]);
                            }
                            this.tierList.push({ Id: "", TierName: "" });
                        },
                        (response) => {
                            alert(response.status);
                        }
                    ).catch(function (response) {
                        alert(response);
                    });
                },
                updatetier: function (id, name) {
                    axios.post('@Url.Action("UpdateTier", "Tier")', { tier: { Id: id, TierName: name} }).then(
                        (response) => {
                            this.tierList = [];
                            for (var i = 0; i < response.data.length; i++) {
                                this.tierList.push(response.data[i]);
                            }
                            this.tierList.push({ Id: "", TierName: ""});
                        },
                        (response) => {
                            alert(response.status);
                        }
                    ).catch(function (response) {
                        alert(response);
                    });
                },
                deletetierById: function (id) {
                    axios.post('@Url.Action("DelTier", "Tier")', { id: id }).then(
                        (response) => {
                            this.tierList = [];
                            for (var i = 0; i < response.data.length; i++) {
                                this.tierList.push(response.data[i]);
                            }
                            this.tierList.push({ Id: "", TierName: "" });
                        },
                        (response) => {
                            alert(response.status);
                        }
                    ).catch(function (response) {
                        alert(response);
                    });
                }
            }
        });
    </script>
</body>
</html>
