
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <script src="~/Scripts/axios.js"></script>
    <script src="~/Scripts/vue.js"></script>
   
</head>
<body>
    <div id="app">
        <table>
            <tr>
                <td>所属科室：</td>
                <td>
                    <select id="Select1" v-model="DepartmentName">
                        <option value="请选择">--请选择--</option>
                        <option v-for="item in DepartmentList" v-bind:value="item.Id">
                            {{item.DepartmentName}}
                        </option>
                    </select>

                </td>
            </tr>
            <tr>

                <td>姓名；</td>
                <td>
                    <input id="Text1" type="text" v-model="UserName" />
                </td>
            </tr>
            <tr>
                <td>工号：</td>
                <td>
                    <input id="Text1" type="text" v-model="UserNumber" />
                </td>
            </tr>
            <tr>
                <td>层级：</td>
                <td>
                    <select id="Select1" v-model="DutyName">
                        <option value="请选择">--请选择--</option>
                        <option v-for="item in DutyList" v-bind:value="item.Id">
                            {{item.DutyName}}
                        </option>
                    </select>

                </td>
            </tr>
            <tr>
                <td>职务：</td>
                <td>
                    <select id="Select1" v-model="TierName">
                        <option value="请选择">--请选择--</option>
                        <option v-for="item in TierList" v-bind:value="item.Id">
                            {{item.TierName}}
                        </option>
                    </select>

                </td>
            </tr>
            <tr>
                <td>年假天数：</td>
                <td>
                    <input id="Text1" type="text" v-model="AnnualDay" />
                </td>
            </tr>
            <tr>
                <td>入职时间：</td>
                <td>
                    <input id="Text1" type="text" v-model="EntryTime" />
                </td>
            </tr>

            <tr>
                <td>
                    <a href="#" v-on:click="addUser(DepartmentName, UserName, UserNumber, DutyName, TierName, AnnualDay, EntryTime)">保存</a>
                </td>
                <td>
                    <a href="#" v-on:click="addUser()">取消</a>
                </td>
            </tr>
        </table>
    </div>
    <script>
        var vm = new Vue({
            el: "#app",
            data: {
                //科室
                DepartmentList: [],
                DepartmentName:"请选择",
                //职务
                DutyList: [],
                DutyName: "请选择",
                //层级
                TierList: [],
                TierName: "请选择",
                UserName:"",
                UserNumber: "",
                AnnualDay: "",
                EntryTime:"",
            },
            mounted() {
                this.getDepartmentList();
                this.getDutyList();
                this.getTierList();
            },
            methods: {
                addUser: function (DepartmentName, UserName, UserNumber, DutyName, TierName, AnnualDay, EntryTime) {
                    axios.post('@Url.Action("Add", "Users")', { users: { DepartmentID: DepartmentName, UserName: UserName, UserNumber: UserNumber, DutyID: DutyName, TierID: TierName, AnnualDay: AnnualDay, EntryTime: EntryTime} }).then(
                        (response) => {
                            if (response.data > 0) {
                                alert("保存成功")
                            }
                            else {
                                alert("已有该用户")
                            }
                          
                         
                        },
                        (response) => {
                            alert(response.status);
                        }
                    ).catch(function (response) {
                        alert(response);
                    });
                },
                ///获取科室的下拉菜单
                getDepartmentList: function () {
                    axios.get('@Url.Action("GetDepartments", "Users")').then(
                        (response) => {
                            console.log(response)
                            this.DepartmentList = response.data;                    
                        },
                        (response) => {
                            alert(response.status);
                        }
                    ).catch(function (response) {
                        alert(response);
                    });
                },
                ///获取职务的下拉菜单
                getDutyList: function () {
                    axios.get('@Url.Action("GetDuties", "Users")').then(
                        (response) => {
                            console.log(response)
                            this.DutyList = response.data;                    
                        },
                        (response) => {
                            alert(response.status);
                        }
                    ).catch(function (response) {
                        alert(response);
                    });
                },
                ///获取层级的下拉菜单
                getTierList: function () {
                    axios.get('@Url.Action("SelectTier", "Users")').then(
                        (response) => {
                            console.log(response)
                            this.TierList = response.data;                    
                        },
                        (response) => {
                            alert(response.status);
                        }
                    ).catch(function (response) {
                        alert(response);
                    });
                },
            }
        })
    </script>
</body>
</html>
