
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Add</title>
    <script src="~/Scripts/axios.js"></script>
    <script src="~/Scripts/vue.js"></script>
    <link href="~/css/pag.css" rel="stylesheet" media="all" />
    <link href="~/css/css.css" rel="stylesheet" media="all" />
    <link href="~/css/x-admin.css" rel="stylesheet" media="all" />
</head>
<body style="background-color:#ffffff">
    <div id="app" class="x-body">
        <table class="tablelist">
            <tr>
                <td>编号</td>
                <td>
                    <input id="Text1" type="text" v-model="Id" />
                </td>
            </tr>
            <tr>
                <td>审批条件</td>
                <td>
                    <input id="Text1" type="text" v-model="Conditions" />
                </td>
            </tr>
            <tr>
                <td>业务名称</td>
                <td>
                    <select id="Select1" v-model="ApprovalName">
                        <option value="请选择">--请选择--</option>
                        <option v-for="item in ApprovalList" v-bind:value="item.Id">
                            {{item.ApprovalName}}
                        </option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="#" v-on:click="Add(Id,Conditions, ApprovalName)"><span><img src="~/images/t01.png" /></span>保存</a>
                </td>
                <td>
                    <a href="#" onclick="location.href='/Approvalcondition/Show'"><span><img src="~/images/t06.png" /></span>显示</a>
                </td>
            </tr>
        </table>
    </div>
    <script src="~/js/x-layui.js" charset="utf-8"></script>
    <script src="~/lib/layui/layui.js" charset="utf-8"></script>
    <script src="~/js/jquery2.js" charset="utf-8"></script>
    <script src="~/js/js.js" charset="utf-8"></script>
    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script>
        /*添加*/
        function new_add(title, url, w, h) {
            x_admin_show(title, url, w, h);
        }
        $('.tablelist tbody tr:odd').addClass('odd');
        // 编辑
        function data_management_look(title, url, id, w, h) {
            x_admin_show(title, url, w, h);
        }

    </script>
    <script>
        var vm = new Vue({
            el: "#app",
            data: {
                Id:"",
                Conditions: "",
                ApprovalList: [],
                ApprovalName:"请选择",
            },
            mounted() {
                this.Get(@Request.QueryString["Id"]);
                this.getApprovalList();
            },
            methods: {
                  Get: function (Id) {
                    var that = this;
                    var param = new URLSearchParams();
                    param.append("Id", Id);
                    axios.get('@Url.Action("Get", "Approvalcondition")', { params:{ Id: Id }}).then(
                            (response) => {
                                if (response.data) {
                                    that.Id = response.data.Id;
                                    that.Conditions = response.data.Conditions;
                                    that.ApprovalName = response.data.Approvalid;
                                }
                            },
                            (response) => {
                                alert(response.status);
                            }
                        ).catch(function (response) {
                            alert(response);
                        });
                },
                Add: function (Id,Conditions, ApprovalName) {
                    axios.post('@Url.Action("Update", "Approvalcondition")', { approvalcondition: { Id: Id, Conditions: Conditions, Approvalid: ApprovalName} }).then(
                        (response) => {
                            if (response.data > 0) {
                                alert("保存成功")
                            }
                            else {
                                alert("已存在这个审批条件")
                            }
                        },
                        (response) => {
                            alert(response.status);
                        }
                    ).catch(function (response) {
                        alert(response);
                    });
                },
                 ///获取业务的下拉菜单
                getApprovalList: function () {
                    axios.get('@Url.Action("Shows", "Approval")').then(
                        (response) => {
                            console.log(response)
                            this.ApprovalList = response.data;
                        },
                        (response) => {
                            alert(response.status);
                        }
                    ).catch(function (response) {
                        alert(response);
                    });
                },
            }
        })
    </script>
</body>
</html>
