
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/vue.js"></script>
    <script src="~/Scripts/axios.js"></script>
    <title>Add</title>

</head>
<body>
    <div>
        <div id="app">
            <table class="table-bordered">
                <tr>
                    <td>职务名称</td>
                    <td>
                        <input type="text" v-model="DutyName" />
                    </td>
                </tr>
                <tr>
                    <td>层级ID</td>
                    <td>
                        <input type="text" v-model="TierID" />
                    </td>
                </tr>
                <tr>
                    <td>权限ID</td>
                    <td>
                        <input type="text" v-model="PowerID" />
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <a href="#" v-on:click="add(DutyName,TierID,PowerID)">添加</a>
                    </td>
                </tr>

            </table>
        </div>
    </div>
</body>
</html>
<script type="text/javascript">
        var vm = new Vue({
            el: "#app",
            data: {
                DutyName:"",
                TierID: "",
                PowerID:""
            },
            methods: {
                add: function (DutyName, TierID, PowerID) {
                    axios.post('@Url.Action("DutyAdd", "Duty")', { Duty: { TierID: TierID, PowerID: PowerID, DutyName: DutyName } }).then(
                        (response) => {
                            alert("添加成功")


                        },
                        (response) => {
                            alert(response.status);
                        }
                    ).catch(function (response) {
                        alert(response);
                    });
                },


            },

        });
</script>
