
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/vue.js"></script>
    <script src="~/Scripts/axios.js"></script>
    <title>Add</title>

</head>
<body>

    <div id="app" class="x-body">
        <form class="layui-form">
            <div class="layui-form-item">

                <div class="layui-form-item">
                    <label for="link" class="layui-form-label">
                        <span class="x-red">*</span>职务名称
                    </label>
                    <div class="layui-input-inline">
                        <input type="text" id="link" class="layui-input" v-model="DutyName">
                    </div>
                </div>

                <div class="layui-form-item">
                    <label for="link" class="layui-form-label">
                        <span class="x-red">*</span>层级ID
                    </label>
                    <div class="layui-input-inline">
                        <input type="text" id="link" class="layui-input" v-model="TierID">
                    </div>
                </div>

                <div class="layui-form-item">
                    <label for="link" class="layui-form-label">
                        <span class="x-red">*</span>权限ID
                    </label>
                    <div class="layui-input-inline">
                        <input type="text" id="link" class="layui-input" v-model="PowerID">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label for="L_repass" class="layui-form-label">
                    </label>
                    <button class="layui-btn" v-on:click="add(DutyName,TierID,PowerID)" type="button">
                        增加
                    </button>
                    <button class="layui-btn" onclick="location.href='/Duty/Index'" type="button">
                        显示
                    </button>
                </div>
            </div>
        </form>
    </div>         
</body>
</html>
<script type="text/javascript">
        var vm = new Vue({
            el: "#app",
            data: {
                DutyName:"",
                TierID: "",
                PowerID:""
            },
            methods: {
                add: function (DutyName, TierID, PowerID) {
                    axios.post('@Url.Action("DutyAdd", "Duty")', { Duty: { TierID: TierID, PowerID: PowerID, DutyName: DutyName } }).then(
                        (response) => {
                            alert("添加成功")
                        },
                        (response) => {
                            alert(response.status);
                        }
                    ).catch(function (response) {
                        alert(response);
                    });
                },
            },
        });
</script>
